.titre {
  text-align: center;
  margin: 10px 0;
}

.tableau {
  margin: 0 auto;
  font-size: 20px;
}

.tableau tr {
  border: 1px solid white;
}

.tableau td {
  padding: 10px;
  text-align: center;
  min-width: 200px;
}

.tableau tr td {
  border: 1px solid white;
}
